In [81]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [82]:
#Leyendo DataSets
# Optimización de la lectura de los datasets, eliminando la columna 'Unnamed: 0' directamente
df_1 = pd.read_csv("./estadisticas_peleador_limpio.csv", index_col=0)
df_2 = pd.read_csv("./Enfrentamientos_limpio.csv", index_col=0)
df_3 = pd.read_csv("./Categorias_por_peso.csv", index_col=0)

In [83]:
df_1

,Nombre,Pais,Victorias,Derrotas,Altura,Peso,Alcance,Guardia,Edad,Golpes_min,Golpes_acer,Golpes_abs,Golpes_def,Derribos_med,Derribos_acer,Derribos_def,Sumision_int
0,Amanda Ribas,Brasil,12.0,5.0,160.02,56.70,167.64,Ortodoxo,30.0,4.63,0.40,3.40,0.61,2.07,0.51,0.85,0.7
1,Rose Namajunas,Estados Unidos,13.0,6.0,165.10,56.70,165.10,Ortodoxo,31.0,3.69,0.41,3.51,0.63,1.38,0.47,0.59,0.5
2,Justin Tafa,Nueva Zelanda,7.0,4.0,182.88,119.75,187.96,Zurdo,30.0,4.09,0.54,5.02,0.47,0.00,0.00,0.50,0.0
3,Edmen Shahbazyan,Estados Unidos,13.0,4.0,187.96,83.91,190.50,Ortodoxo,26.0,3.60,0.52,4.09,0.45,2.24,0.38,0.63,0.6
4,Payton Talbott,Estados Unidos,8.0,0.0,177.80,61.23,177.80,Ambidiestro,25.0,8.05,0.54,3.58,0.51,0.00,0.00,0.90,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,Zhang Tiequan,Perú,15.0,4.0,172.72,70.31,175.26,Ortodoxo,45.0,1.23,0.36,2.14,0.51,1.95,0.58,0.75,3.4
690,Stephan Bonnar,Estados Unidos,15.0,9.0,193.04,92.99,200.66,Ortodoxo,46.0,2.76,0.38,3.01,0.52,1.32,0.40,0.60,1.0
691,Aaron Simpson,Estados Unidos,12.0,5.0,182.88,77.11,185.42,Ortodoxo,49.0,3.60,0.52,2.53,0.56,3.78,0.34,0.83,0.5
692,Carlo Prater,Estados Unidos,31.0,18.0,180.34,70.31,182.88,Ambidiestro,42.0,2.03,0.47,4.07,0.35,0.43,0.09,0.57,1.7
693,DaMarques Johnson,Estados Unidos,15.0,15.0,185.42,77.11,190.50,Ortodoxo,41.0,2.11,0.37,3.75,0.51,1.18,0.55,0.19,0.7

In [84]:
df_2

,Evento,Día,Donde,Ganador,Perdedor,Division,Metodo,Detalles,Round,Tiempo
0,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Edmen Shahbazyan,AJ Dobson,Peso Medio,KO/TKO,Golpes,1.0,4:33
1,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Payton Talbott,Cameron Saaiman,Peso Gallo,KO/TKO,Golpes,2.0,0:21
2,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Youssef Zalal,Billy Quarantillo,Peso Pluma,SUB,Estrangulación Trasera,2.0,1:50
3,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Fernando Padilla,Luis Pajuelo,Peso Pluma,SUB,Estrangulación D'Arce,1.0,2:45
4,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Julian Erosa,Ricardo Ramos,Peso Pluma,SUB,Estrangulación Guillotina,1.0,2:15
...,...,...,...,...,...,...,...,...,...,...
3799,UFC 2: No Way Out,3/11/1994,"Denver, Colorado, USA",Jason DeLucia,Scott Baker,Peso Abierto,SUB,Estrangulación Triangular,1.0,6:41
3800,UFC 2: No Way Out,3/11/1994,"Denver, Colorado, USA",Remco Pardoel,Alberta Cerra Leon,Peso Abierto,SUB,Estrangulación Ezekiel,1.0,9:51
3801,UFC 2: No Way Out,3/11/1994,"Denver, Colorado, USA",Johnny Rhodes,David Levicki,Peso Abierto,KO/TKO,Golpes,1.0,12:13
3802,UFC 2: No Way Out,3/11/1994,"Denver, Colorado, USA",Patrick Smith,Ray Wizard,Peso Abierto,SUB,Estrangulación Guillotina,1.0,0:58
3803,UFC 2: No Way Out,3/11/1994,"Denver, Colorado, USA",Scott Morris,Sean Daugherty,Peso Abierto,SUB,Estrangulación Guillotina,1.0,0:20

In [85]:
df_3.columns

Index(['Division', 'Peso (kg)'], dtype='object')

In [86]:
df_3

               Division        Peso (kg)
0            Peso Medio      Hasta 84 kg
1            Peso Gallo    Hasta 61.2 kg
2            Peso Pluma    Hasta 65.8 kg
3           Peso Pesado   Hasta 120.2 kg
4   Peso Gallo Femenino    Hasta 61.2 kg
5           Peso Ligero    Hasta 70.3 kg
6            Peso Mosca    Hasta 56.7 kg
7    Peso Paja Femenino    Hasta 52.2 kg
8           Peso Welter    Hasta 77.1 kg
9       Peso Semipesado      Hasta 93 kg
10  Peso Mosca Femenino    Hasta 56.7 kg
11         Peso Pactado     Peso pactado
12  Peso Pluma Femenino    Hasta 65.8 kg
13    Peso Super Pesado  Más de 120.2 kg
14         Peso Abierto   Cualquier peso

In [87]:
df_1.columns

Index(['Nombre', 'Pais', 'Victorias', 'Derrotas', 'Altura', 'Peso', 'Alcance',
       'Guardia', 'Edad', 'Golpes_min', 'Golpes_acer', 'Golpes_abs',
       'Golpes_def', 'Derribos_med', 'Derribos_acer', 'Derribos_def',
       'Sumision_int'],
      dtype='object')

In [88]:
df_2.columns

Index(['Evento', 'Día', 'Donde', 'Ganador', 'Perdedor', 'Division', 'Metodo',
       'Detalles', 'Round', 'Tiempo'],
      dtype='object')

# Resolucion de hipotesis:
1. Relación entre la guardia y el Éxito en ambos géneros 🤼

Del 1er dataset:
stance (tipo de guardia, como ortodoxa o zurda)
wins (número de victorias)
name (nombre del luchador)

Del 2do dataset:
r_fighter, b_fighter (nombre de los luchadores en la pelea, relacionarlo con name del 1er dataset)
method (método de victoria, si necesario para análisis del éxito)
weight_class (para segmentar por género, ya que las divisiones femeninas y masculinas son diferentes)

Del 3er dataset:
division (puedes identificar si es una división femenina o masculina para separar géneros)

In [103]:
df_1_filtro = df_1[['Nombre', 'Guardia']]
df_1_filtro

                Nombre      Guardia
0         Amanda Ribas     Ortodoxo
1       Rose Namajunas     Ortodoxo
2          Justin Tafa        Zurdo
3     Edmen Shahbazyan     Ortodoxo
4       Payton Talbott  Ambidiestro
..                 ...          ...
689      Zhang Tiequan     Ortodoxo
690     Stephan Bonnar     Ortodoxo
691      Aaron Simpson     Ortodoxo
692       Carlo Prater  Ambidiestro
693  DaMarques Johnson     Ortodoxo

[694 rows x 2 columns]

In [104]:
df_2_filtro = df_2[['Ganador', 'Perdedor']]
df_2_filtro

               Ganador            Perdedor
0     Edmen Shahbazyan           AJ Dobson
1       Payton Talbott     Cameron Saaiman
2        Youssef Zalal   Billy Quarantillo
3     Fernando Padilla        Luis Pajuelo
4         Julian Erosa       Ricardo Ramos
...                ...                 ...
3799     Jason DeLucia         Scott Baker
3800     Remco Pardoel  Alberta Cerra Leon
3801     Johnny Rhodes       David Levicki
3802     Patrick Smith          Ray Wizard
3803      Scott Morris      Sean Daugherty

[3804 rows x 2 columns]

In [107]:
# Merge para los ganadores
df_combinada = pd.merge(df_2_filtro, df_1_filtro, left_on='Ganador', right_on='Nombre', how='left')
df_combinada

               Ganador            Perdedor            Nombre      Guardia
0     Edmen Shahbazyan           AJ Dobson  Edmen Shahbazyan     Ortodoxo
1       Payton Talbott     Cameron Saaiman    Payton Talbott  Ambidiestro
2        Youssef Zalal   Billy Quarantillo     Youssef Zalal  Ambidiestro
3     Fernando Padilla        Luis Pajuelo  Fernando Padilla     Ortodoxo
4         Julian Erosa       Ricardo Ramos      Julian Erosa        Zurdo
...                ...                 ...               ...          ...
3799     Jason DeLucia         Scott Baker               NaN          NaN
3800     Remco Pardoel  Alberta Cerra Leon               NaN          NaN
3801     Johnny Rhodes       David Levicki               NaN          NaN
3802     Patrick Smith          Ray Wizard               NaN          NaN
3803      Scott Morris      Sean Daugherty               NaN          NaN

[3804 rows x 4 columns]

In [ ]:
#Tendria que eliminar la columna nombre,
#limpiar los missing values
asociar la guardia alos perdedores
y comparar las guardia de los ganadadores con las de los peleadoress ya en un garfico

In [ ]:


# Renombrar la columna de la guardia del ganador
df_winners.rename(columns={'Guardia': 'Guardia_Ganador'}, inplace=True)

# Merge para los perdedores
df_losers = pd.merge(df_2_filtered, df_1_filtered, left_on='Perdedor', right_on='Nombre', how='left')

# Renombrar la columna de la guardia del perdedor
df_losers.rename(columns={'Guardia': 'Guardia_Perdedor'}, inplace=True)

# Unir los DataFrames de ganadores y perdedores
df_combined = df_winners[['Ganador', 'Guardia_Ganador']].merge(
    df_losers[['Perdedor', 'Guardia_Perdedor']], 
    left_index=True, right_index=True
)

2. Defensiva de Takedowns y Éxito en la Carrera 🥋


Del 1er dataset:
td_def (defensa de derribos)
wins (número de victorias)
losses (número de derrotas, para calcular el porcentaje de victorias)
name (nombre del luchador)

Del 2do dataset:
r_fighter, b_fighter (relacionarlo con name del 1er dataset)
weight_class (opcional, si quieres analizar por divisiones)

In [ ]:
# 1. Unir datasets usando los nombres de los luchadores
df_combined = pd.merge(df_2, df_1[['name', 'td_def', 'wins', 'losses']], left_on='r_fighter', right_on='name', how='left')
df_combined = pd.merge(df_combined, df_1[['name', 'td_def', 'wins', 'losses']], left_on='b_fighter', right_on='name', how='left', suffixes=('_r', '_b'))

# 2. Calcular el porcentaje de victorias para ambos luchadores
df_combined['win_percentage_r'] = df_combined['wins_r'] / (df_combined['wins_r'] + df_combined['losses_r'])
df_combined['win_percentage_b'] = df_combined['wins_b'] / (df_combined['wins_b'] + df_combined['losses_b'])

# 3. Identificar ganador y su porcentaje de victorias y defensa de derribos
df_combined['winner'] = df_combined['method'].apply(lambda x: 'Red' if 'r' in x.lower() else 'Blue')
df_combined['td_def_winner'] = df_combined.apply(lambda x: x['td_def_r'] if x['winner'] == 'Red' else x['td_def_b'], axis=1)
df_combined['win_percentage_winner'] = df_combined.apply(lambda x: x['win_percentage_r'] if x['winner'] == 'Red' else x['win_percentage_b'], axis=1)

# 4. Eliminar filas con valores nulos
df_combined = df_combined.dropna(subset=['td_def_winner', 'win_percentage_winner'])

# 5. Crear rangos de defensa de derribos
df_combined['td_def_bins'] = pd.cut(df_combined['td_def_winner'], bins=[0, 50, 60, 70, 80, 90, 100], 
                                    labels=['0-50%', '50-60%', '60-70%', '70-80%', '80-90%', '90-100%'])

# 6. Agrupar los datos por rangos de defensa de derribos y calcular el promedio del porcentaje de victorias
grouped_data = df_combined.groupby('td_def_bins')['win_percentage_winner'].mean().reset_index()

# 7. Visualización: Graficar la relación entre defensa de derribos y porcentaje de victorias
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
sns.barplot(x='td_def_bins', y='win_percentage_winner', data=grouped_data, palette='Blues_d')
plt.title('Relación entre Defensa de Derribos y Porcentaje de Victorias')
plt.xlabel('Defensa de Derribos (%)')
plt.ylabel('Porcentaje de Victorias (%)')
plt.show()

3. Rendimiento por Género 🚺🤼‍♂️


Del 1er dataset:
wins (número de victorias)
name (nombre del luchador)


Del 2do dataset:
r_fighter, b_fighter (relacionar con name)
method, method_detailed (para analizar métodos de finalización)
weight_class (para identificar si la pelea fue en una división masculina o femenina)


Del 3er dataset:
division (para categorizar entre divisiones femeninas y masculinas)

In [ ]:
# 1. Unir datasets usando el nombre de los luchadores
df_combined = pd.merge(df_2, df_1[['name', 'wins']], left_on='r_fighter', right_on='name', how='left')
df_combined = pd.merge(df_combined, df_1[['name', 'wins']], left_on='b_fighter', right_on='name', how='left', suffixes=('_r', '_b'))

# 2. Unir con el dataset de divisiones para identificar el género
df_combined = pd.merge(df_combined, df_3[['division']], left_on='weight_class', right_on='division', how='left')

# 3. Asignar géneros basado en la división
def determinar_genero(weight_class):
    divisiones_femeninas = ['Women\'s Strawweight', 'Women\'s Flyweight', 'Women\'s Bantamweight', 'Women\'s Featherweight']
    if weight_class in divisiones_femeninas:
        return 'Femenino'
    else:
        return 'Masculino'

df_combined['genero'] = df_combined['weight_class'].apply(determinar_genero)

# 4. Identificar al ganador y método de victoria
df_combined['winner'] = df_combined['method'].apply(lambda x: 'Rojo' if 'r' in x.lower() else 'Azul')

# Asignar los métodos de victoria según el ganador
df_combined['method_winner'] = df_combined.apply(lambda x: x['method'] if x['winner'] == 'Rojo' else x['method'], axis=1)

# 5. Agrupar por género y método de victoria
victorias_genero = df_combined.groupby('genero')['wins_r', 'wins_b'].sum().reset_index()

# 6. Análisis del método de victoria por género
metodos_por_genero = df_combined.groupby(['genero', 'method_winner']).size().reset_index(name='count')

# 7. Visualización de las victorias por género
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
sns.barplot(x='genero', y='wins_r', data=victorias_genero, palette='Set2')
plt.title('Número de Victorias por Género')
plt.xlabel('Género')
plt.ylabel('Número de Victorias')
plt.show()

# 8. Visualización del método de victoria por género
plt.figure(figsize=(10,6))
sns.countplot(x='method_winner', hue='genero', data=df_combined, palette='Set1')
plt.title('Método de Victoria por Género')
plt.xlabel('Método de Victoria')
plt.ylabel('Cantidad de Victorias')
plt.xticks(rotation=45)
plt.show()


4. Diferencia de Edades 👵👦

Del 1er dataset:
age (edad del luchador)
name (nombre del luchador)

Del 2do dataset:
r_fighter, b_fighter (nombres de los luchadores)
method, status (resultado de la pelea para saber quién ganó)

In [ ]:
# 1. Unir el dataset 1 (con la edad) con el dataset 2 (con los luchadores y el resultado de la pelea)
df_edad = df_1[['name', 'age']]  # Seleccionar columnas de interés
df_combined = pd.merge(df_2, df_edad, left_on='r_fighter', right_on='name', how='left')
df_combined = pd.merge(df_combined, df_edad, left_on='b_fighter', right_on='name', how='left', suffixes=('_r', '_b'))

# 2. Calcular la diferencia de edad entre los luchadores
df_combined['edad_diferencia'] = abs(df_combined['age_r'] - df_combined['age_b'])

# 3. Identificar al ganador basado en el status o método de victoria
df_combined['winner'] = df_combined['status'].apply(lambda x: 'Rojo' if x == 'Win_Red' else 'Azul')

# 4. Comparar la edad del ganador con la del perdedor
df_combined['ganador_mas_joven'] = df_combined.apply(lambda x: 'Sí' if (x['winner'] == 'Rojo' and x['age_r'] < x['age_b']) or (x['winner'] == 'Azul' and x['age_b'] < x['age_r']) else 'No', axis=1)

# 5. Agrupar los resultados para ver cuántas veces el ganador fue el luchador más joven
resultado_por_edad = df_combined.groupby('ganador_mas_joven').size().reset_index(name='count')

# 6. Visualización de la diferencia de edad y victorias
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(8,6))
sns.countplot(x='ganador_mas_joven', data=df_combined, palette='coolwarm')
plt.title('¿El Ganador fue el Más Joven?')
plt.xlabel('Ganador más joven')
plt.ylabel('Cantidad de Peleas Ganadas')
plt.show()

# 7. Visualización de la diferencia de edad en las victorias
plt.figure(figsize=(10,6))
sns.boxplot(x='winner', y='edad_diferencia', data=df_combined, palette='Set3')
plt.title('Diferencia de Edad entre Ganador y Perdedor')
plt.xlabel('Ganador (Rojo/Azul)')
plt.ylabel('Diferencia de Edad')
plt.show()

5. Knockouts en diferentes Divisiones 🥊

Del 2do dataset:
weight_class (categoría de peso)
method (para identificar si fue un knockout)
r_str, b_str (golpes lanzados por los luchadores)


Del 3er dataset:
division (para identificar el tipo de división)

In [ ]:
# 1. Filtrar las peleas que terminaron por KO
df_ko = df_2[df_2['method'].str.contains('KO', case=False)]  # Filtrar método de KO (insensible a mayúsculas)

# 2. Unir con el dataset 3 para identificar la división (femenino/masculino)
df_combined = pd.merge(df_ko, df_3[['division']], left_on='weight_class', right_on='division', how='left')

# 3. Agrupar por categorías de peso y divisiones
ko_por_division = df_combined.groupby(['weight_class', 'division']).size().reset_index(name='cantidad_KOs')

# 4. Análisis de golpes lanzados en peleas que terminaron por KO
df_combined['total_strikes'] = df_combined['r_str'] + df_combined['b_str']  # Suma de los golpes lanzados
golpes_vs_ko = df_combined.groupby('weight_class')['total_strikes'].mean().reset_index()

# 5. Visualización de los Knockouts por División y Categoría de Peso
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(12,6))
sns.barplot(x='weight_class', y='cantidad_KOs', hue='division', data=ko_por_division, palette='Set2')
plt.title('Cantidad de Knockouts por División y Categoría de Peso')
plt.xticks(rotation=90)
plt.xlabel('Categoría de Peso')
plt.ylabel('Cantidad de KOs')
plt.show()

# 6. Visualización de Golpes Lanzados en Knockouts por Categoría de Peso
plt.figure(figsize=(12,6))
sns.barplot(x='weight_class', y='total_strikes', data=golpes_vs_ko, palette='Blues_d')
plt.title('Promedio de Golpes Lanzados en Knockouts por Categoría de Peso')
plt.xticks(rotation=90)
plt.xlabel('Categoría de Peso')
plt.ylabel('Golpes Lanzados (Promedio)')
plt.show()

6. EXTRA: Altura y Resultados de Pelea 📏🏆

Del 1er dataset:
height (altura del luchador)
name (nombre del luchador)


Del 2do dataset:
r_fighter, b_fighter (nombres de los luchadores)
status (resultado de la pelea para saber quién ganó)

&nbsp;

&nbsp;